<h1>Your Dogs are ready!</h1>
<div class="container">
  <div class="row">
    <div class="col-3">Dog Rating: 10</div>
    <div class="col-6">
      <img *ngIf="randomCatChance !== 1" alt="dog" [src]="randomDog" /><img
        *ngIf="randomCatChance == 1"
        alt="cat"
        [src]="randomCat"
      />
    </div>
    <div class="col-3">All Dogs Rating: 9</div>
  </div>
  <div class="row">
    <div class="col-8">
      <span *ngIf="!badLastRating">
        <div class="btn btn-danger" (click)="onRateButton(1)">1</div>
        <div class="btn btn-danger" (click)="onRateButton(2)">2</div>
        <div class="btn btn-danger" (click)="onRateButton(3)">3</div>
        <div class="btn btn-warning" (click)="onRateButton(4)">4</div>
        <div class="btn btn-warning" (click)="onRateButton(5)">5</div>
        <div class="btn btn-warning" (click)="onRateButton(6)">6</div>
      </span>
      <div class="btn btn-success" (click)="onRateButton(7)">7</div>
      <div class="btn btn-success" (click)="onRateButton(8)">8</div>
      <div class="btn btn-success" (click)="onRateButton(9)">9</div>
      <div class="btn btn-primary" (click)="onRateButton(10)">10</div>
    </div>
  </div>
</div>
