img {
  width: 100%;
}

.btn-group {
  width: 90%;
}

.btn-toolbar {
  place-content: center;
}

.img-col {
  max-height: 75vmin;
  margin-bottom: 2vh;
}

.img-pet {
  max-height: 100%;
}

.bottom-container {
  position: absolute;
  bottom: 2%;
}
