img {
  width: 100%;
}

.btn-group {
  width: 90%;
}

.btn-toolbar {
  place-content: center;
}

.img-col {
  max-height: 80vmin;
  margin-bottom: 2vmin;
}

.img-12-col {
  height: -webkit-fill-available;
  max-height: 100%;
}

.img-pet {
  max-height: 100%;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  width: 90%;
}

@media (max-width: 767px) {
  .card-body-rating {
    padding-bottom: 27px;
  }

  .card {
    --bs-card-spacer-y: 0.25rem;
  }

  .card-title {
    margin-bottom: 0.1rem !important;
  }
}
