/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  background-color: blueviolet;
  min-height: 100%;
}

.btn-rate {
  --bs-btn-padding-x: 0.4rem !important;
  --bs-btn-padding-y: 0.2rem !important;
}
